{% load static %}
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Games</h2>
            <h3 class="section-subheading text-muted">Releases and Coming Soon...</h3>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="{% static "img/logos/NinjaOpsDemo.png" %}" alt="Ninja Ops Demo">
            </a>
            <div class="portfolio-caption">
            <h4>Ninja Ops</h4>
            <p class="text-muted">Digital Diceworks Gaming Debut</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="{% static "img/logos/NLMDemo.png" %}" alt="Natural Locomotion Demo">
            </a>
            <div class="portfolio-caption">
            <h4>Natural Locomotion</h4>
            <p class="text-muted">Demo featuring our new motion system</p>
            </div>
        </div>
        </div>
    </div>
</section>
