{% load static %}
<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="center" src="{% static "img/logos/NinjaOpsTitle.png" %}" width="500">
                            <p class="item-intro text-muted">Ninja VR Stealth Game using Natural Locomotion</p>
                            <img class="img-fluid d-block mx-auto" src="{% static "img/projects/NinjaOps01.png" %}" width="1000">
                            <p>
                              Ninja Ops: Twilight Chronicles will be the first game to feature our Natural Locomotion system in action. As the player,
                              you will take various stealth heavy challenges as you sneak, climb, and jump around Japanese castles finding the best ways to
                              corner your target and take them out.  You will face various enemies, traps and other obstacles as you gather intel to eventually
                              execute your plans.
                            </p>
                            <p>
                              This content is currently in its prototype phase while we gather funding to bring you the best experience that we can.  More information
                              to come as we gather the talent needed to reach the quality of work that we aim to be known for moving forward.
                            </P>

                            <ul class="list-inline">
                                <li>Release Date: Unreleased TBA</li>
                                <li>Category: Virtual Reality Gaming Experience</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Natural Locomotion System Demo</h2>
                            <p class="item-intro text-muted">The new standard for virtual reality movement</p>
                            <img src="{% static "img/projects/NLMDemo01.gif" %}">
                            <p>
                              Natural Locomotion (NLM) is a movement system designed for use within Virtual Reality environments.
                              The concepts behind the NLM system are derived from observing the natural motions we all take when
                              moving around in real life.
                            </p>
                            <p>
                              One of the biggest challenges when incorporating a free movement type system is avoiding discomfort
                              for the player using it. Current systems that avoid discomfort, such as the widely used Teleport,
                              manage to reduce discomfort but also tends to break immersion for players. There are "walk in place"
                              systems that can also reduce discomfort but require a fair amount of mobility to use and lack precision
                              when using them at lower speeds. Lastly there is the Full Locomotion system where the player uses either
                              a joystick or a touchpad as you would in regular video games but in virtual reality instead. While this
                              system is gaining popularity, it comes with a high wall of discomfort for many users. Given enough
                              exposure you might reduce your discomfort but it is not guaranteed and the adjustment period is rarely short.

                              Natural Locomotion is designed in a way to avoid discomfort and has an adjustment period that is extremely
                              short to none at all. Part of the reason discomfort occurs is due to the player's virtual body moving
                              while they are not at all. This disconnect of the real body to the virtual body leaves the player expecting
                              to feel motion when none is occurring, resulting in discomfort. The Natural Locomotion system incorporates
                              body movement and connects the player to their virtual body, minmizing discomfort to zero when properly used.
                            </p>

                            <ul class="list-inline">
                                <li>Date: Private Demos Only / Public Release TBA</li>
                                <li>Category: Virtual Reality System Demo</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
