{% load static %}
<section id="services">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <img class="center" src="{% static "img/logos/NLS.png" %}" width="500" alt="Natural Locomotion">
            <h3 class="section-subheading text-muted">Innovative Motion System for Virtual Reality.</h3>
        </div>
        </div>
        <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <img class="center" src="{% static "img/logos/controller.png" %}" width="120">
            </span>
            <h4 class="service-heading">Easy to Use</h4>
            <p class="text-muted">Intuitive system that is easy to learn and use that offers many advanced possibilties</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <img class="center" src="{% static "img/logos/stomach.png" %}" width="120">
            </span>
            <h4 class="service-heading">Complete Comfort</h4>
            <p class="text-muted">No discomfort to overcome for long experience durations that extends to sensative users</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <img class="center" src="{% static "img/logos/directional.png" %}" width="120">
            </span>
            <h4 class="service-heading">Motion Freedom</h4>
            <p class="text-muted">Offers a full range of motion with perfect control that make all of virtual space accesible</p>
        </div>
        </div>
    </div>
</section>
