
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: impact;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h3 {
  font-family: impact;
  margin: 0;
}

header .download{
  padding-top: 80px;
}

a {
  padding:10px;
  color: #868e96;
}

a .anchorpadding{
  margin-top: -200px;
}

a:hover{
    color: #723f8f;
}

.active{
  color: #fdba23;
}

nav {
    font-size: 20px;
    font-family: impact;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-bottom-color: #723f8f;
}

.navbar{
  max-height: 110px;
}

.navbar-nav{
  padding-top: 50px;
}

.logo {
  float: left;
  position: relative;
  z-index: 5;
  top: 24px;
  left: -40px;
}

.main h3{
  padding-top: 30px;

}

.diagram{
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
}

.rightimage{
  float: right;
  padding-left: 20px;
  padding-top: 0px;
}

.jumbotron{
  position: relative;
  display: flex;
  align-items: center;
  background-image: url('../img/headerbg.jpg');
  background-size: cover;
  color: #ffffff;
  margin-top: 100px;
  height: 350px;
  text-shadow: 2px 2px 2px #000;
}

.jumbotron .container{
  padding-top: 50px;
}

.jumbotron .download{
  padding-top: 30px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.natural{
  padding-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.natural h4{
  font-family: impact;
  font-weight: 500;
}


.natural .highlights{
  display: flex;
  margin-bottom: 35px;
}

.natural .highlights img {
  margin-bottom: 20px;
}

.natural .highlights p {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.natural .main{
  padding-top: 10px;
}

.natural .main img{
  margin-right: 10px;
}

.download{
  padding-top: 50px;
  padding-bottom: 50px;
}

.team{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #eaeaea;
  background-size: cover;
}

.team .title{
  padding-bottom: 20px;
}


.team h4 {
  font-family: impact;
  font-weight: 500;
}

.team h6{
  color: #868e96;
}

.members img{
  border-color: #fdba23;
  border-style: solid;
  border-width: 10px;
  margin-bottom: 10px;
}

.team a img {
  border-width: 0px;
}

.team .col-sm-12 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.services{
  padding-top: 50px;
  padding-bottom: 30px;
}

.services h4{
  font-family: impact;
}

.contact {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url('../img/contactbg.jpg');
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 100px;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #723f8f;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fff;
  font-weight: 600;
  text-shadow: none;
  background-color: #fdba23;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: #723f8f;
}

.btn-secondary {
  background-color: #fdba23;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  background-size: cover;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #723f8f;
}

footer .col-md-4 {
  display: flex;
  justify-content: center;
}

footer img {
  border-color: #fdba23;
  border-style: solid;
  border-width: 3px;
}

footer li img {
  width: 32px;
  height: 32px;
}
